@font-face{
    font-family: "Trocchi-Regular";
    src: url(Trocchi-Regular.ttf)
}
@font-face {
    font-family: "Glacial-Indifference";
    src: url(glacial-indifference.regular.otf);
}
body {
    font-family: "Roboto Serif";
    margin: 0px;
    padding: 0px
}
header nav {
    border-bottom: 1px solid #92AFE5;
    padding: 16px;
    background-color: #92AFE5;

}
nav a {
    color: black;

}
h1 {
    font-family: "Trocchi-Regular";
    color: black;
    font-size: 4em;
    padding: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    font-family: "Glacial-Indifference";
    color: black;
    padding: 0;
    border-top: 0;
    margin-top: 0
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    color: black
}
h3 img {
    height: 200px;
    width: 200px;
}
a {
    text-decoration: none;
    color: inherit
}
a:hover{
    color: green;
}
main {
    padding: 16px;
    margin-bottom: 100px
}
tr:nth-child(even) {
    background-color: #F2F5FF;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #92AFE5;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "a a a a"
    "img img img img"
    "figcaption figcaption figcaption figcaption";
}
.container > div {
    border-radius: 5px;
    padding: 10px;
}
